
header.flex{
margin-top: 1.2rem;
    justify-content: space-between;
    padding: 0 2rem;
}

header ul.flex {
    gap: 16px;
}

header ul li a {
color: var(--title);
opacity: 0.9;
font-size: 0.88rem;

font-weight: 500;
}
header ul li a:hover {
    color: var(--blue);
    opacity: 1;
    font-size: 0.9rem;
    font-weight: 500;
    }

header button{

   font-size: 1.2rem;
}


header.flex nav{
padding: 0.7rem 1.6rem;
border-radius: 55px;
box-shadow: 1px 1px 40px rgb(51, 51, 54);
background-color: var(--bgheader);
}

header button.menu{

display: none;
}

/* iconbutton */


/*  modal      */
header .fixed{

    position: fixed;
    inset: 0;
    z-index: 11;
    background-color: rgb(40, 40, 48 , 0.91);
    backdrop-filter: blur(3px);
}

a:hover{
    cursor: pointer;
}
@keyframes mymove {
    0%   {scale: 0;}
    60% { scale: 1.2;}
    100% {scale: 1;}
  } 

button{
    all: unset;


}

header .fixed ul.modal{
animation: mymove 0.7s 1;

width: 70%;
margin-left: auto;
margin-right: auto;
margin-top: auto;
border-radius: 1rem;
padding: 1rem 2rem;
background-color: var(--second);

}

header .fixed ul.modal li {
    border-bottom: 1px solid var(--boeder);
    padding-bottom: 0.77rem;
    padding-top: 0.5rem;
}
header .fixed ul.modal li a{

    font-size: 1rem;
}
header .fixed ul.modal li:first-child{
    text-align:right ;
    border: none;
    padding-bottom: 0;
    padding-top: 0.2rem;

}
header .fixed ul.modal li:last-child{
    border: none;
}


/* motajawib  fga3 l3barat*/

 
@media (max-width: 700px) {

    header.flex nav{display: none;}
    header button.menu{ display: block;}
}




